*

!.gitignore

!codeStyleSettings.xml

!inspectionProfiles/
!inspectionProfiles/Project_Default.xml
!inspectionProfiles/profiles_settings.xml

!copyright/
!copyright/MIT.xml
!copyright/profiles_settings.xml
